.roles {
  list-style-type: none; 
  flex-wrap: wrap;
}

.rolesList{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.rolesCenter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px
}

.memberContainer{
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
  margin: 35px;
}

.pictureCard{
  background-color: #E6E6FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 10px;
  border: transparent;
  border-style: solid;
}

.memberPictures{
  height: 280px;
  width: 200px;
  border-radius: 25px 25px 0px 0px;
}

div.pictureCard > h4, div.pictureCard > h5{
  margin: 10px;
}

.icons{
  width: 35px;
}

.pictureCard:hover{
  border-style: solid;
  border-color: #00A3A3;
}

.roleFilter {
  background: none;
  border: none;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 16px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  font-weight: bold;
}
