.roles {
  list-style-type: none; 
  flex-wrap: wrap;
}

.rolesList{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: ;
}

.rolesCenter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}